/************************************/
/* Colors */
/************************************/

.colors {
	width: 21px;
	height: 21px;
	float: left;
	cursor: pointer;
	margin-right: 5.075px;
}

#white {
	background-color: white;
}

#black {
	background-color: black;
}

#red {
	background-color: red;
}

#orange {
	background-color: orange;
}

#yellow {
	background-color: yellow;
}

#green {
	background-color: green;
	border: 1px solid gray;
	height: 19.35px;
	width: 19.35px;
}

#blue {
	background-color: blue;
}

#indigo {
	background-color: indigo;
}

#violet {
	background-color: violet;
}


/************************************/
/* Backgrounds */
/************************************/

#backgrounds {
	padding-bottom: 40px;
	height: 250px;
}

.background-thumb {
	width: 100px;
	height: 60px;
	float: left;
	/* border: 1px solid gray; */
	cursor: pointer;
	margin: 5px 5px 0px 0;
}

#snowy-cabin {
	background-image: url('../images/snowy-cabin.jpg');
	background-size: cover;
}

#cabin-sunset {
	background-image: url('../images/cabin-sunset.jpg');
	background-size: cover;
}

#tree-on-snow-left {
	background-image: url('../images/tree-on-snow-left.jpg');
	background-size: cover;
}

#tree-on-snow-right {
	background-image: url('../images/tree-on-snow-right.jpg');
	background-size: cover;
}

#frozen-lake {
	background-image: url('../images/frozen-lake.jpg');
	background-size: cover;
}

#frozen-lake2 {
	background-image: url('../images/frozen-lake2.jpg');
	background-size: cover;
}

#snowy-field {
	background-image: url('../images/snowy-field.jpg');
	background-size: cover;
}

#snowy-trees {
	background-image: url('../images/snowy-trees.jpg');
	background-size: cover;
}

#bow {
	background-image: url('../images/bow.jpg');
	background-size: cover;
}

#pinecones {
	background-image: url('../images/pinecones.jpg');
	background-size: cover;
}

#crystal-ball-ornament {
	background-image: url('../images/crystal-ball-ornament.jpg');
	background-size: cover;
}

#bell-ornaments {
	background-image: url('../images/bell-ornaments.jpg');
	background-size: cover;
}

#tree-on-snow-left2 {
	background-image: url('../images/tree-on-snow-left2.jpg');
	background-size: cover;
}

#present {
	background-image: url('../images/present.jpg');
	background-size: cover;
}

#red-ornament {
	background-image: url('../images/red-ornament.jpg');
	background-size: cover;
}

#single-tree-left {
	background-image: url('../images/single-tree-left.jpg');
	background-size: cover;
}



/************************************/
/* Message */
/************************************/

#greeting-output {
	position: absolute;
	top: 50px;
	/* border: 1px solid red; */
	/* text-align: center; */
	font-size: 45px;
	color: white;
	/* width: 100%; */
	z-index: 1;
}

/************************************/
/* Recipient */
/************************************/

#recipient-output {
	position: absolute;
	top: 100px;
	/* border: 1px solid red; */
	/* text-align: center; */
	font-size: 45px;
	color: white;
	/* width: 100%; */
	z-index: 2;
}

.thumb {
	max-height: 75px; 
	max-width: 115px;
}

.title-thumb {
	max-height: 80px; 
	max-width: 120px;
	margin-right: 5px;
}

.title-thumb-long {
	max-height: 200px; 
	max-width: 375px;
	margin-top: 10px;
}

.stickers_canvas {
	position: absolute;
	bottom: 45px;
	left: 0px;
	z-index: 0;
}



