/************************************/
/* Colors */
/************************************/

.colors {
	width: 20px;
	height: 20px;
	float: left;
	/* border: 1px solid gray; */
	cursor: pointer;
	margin-right: 6px;
}

#red {
	background-color: red;
}

#orange {
	background-color: orange;
}

#yellow {
	background-color: yellow;
}

#green {
	background-color: green;
	border: 1px solid gray;
	height: 18.25px;
	width: 18.25px;
}

#blue {
	background-color: blue;
}

#indigo {
	background-color: indigo;
}

#violet {
	background-color: violet;
}

#cyan {
	background-color: cyan;
}

#magenta {
	background-color: magenta;
}

#purple {
	background-color: purple;
}

#black {
	background-color: black;
}

#white {
	background-color: white;
	border: 1px solid gray;
	height: 18.25px;
	width: 18.25px;
}

#brown {
	background-color: brown;
}

#gray {
	background-color: gray;
}


/************************************/
/* Backgrounds */
/************************************/

#backgrounds {
	padding-bottom: 20px;
	height: 125px;
}

.background-img {
	width: 100px;
	height: 60px;
	float: left;
	/* border: 1px solid gray; */
	cursor: pointer;
	margin: 5px 5px 0px 0;
}

#candles {
	background-image: url('../images/candles.jpg');
	background-size: cover;
}

#bow {
	background-image: url('../images/white-bow.jpg');
	background-size: cover;
}

#present {
	background-image: url('../images/present.jpg');
	background-size: cover;
}

#bell-ornaments {
	background-image: url('../images/bell-ornaments.jpg');
	background-size: cover;
}

#tree-on-snow-left {
	background-image: url('../images/tree-on-snow-left.jpg');
	background-size: cover;
}

#crystal-ball-ornament {
	background-image: url('../images/crystal-ball-ornament.jpg');
	background-size: cover;
}

#red-ornament {
	background-image: url('../images/red-ornament.jpg');
	background-size: cover;
}

#pinecones {
	background-image: url('../images/pinecones.jpg');
	background-size: cover;
}


/************************************/
/* Message */
/************************************/

#greeting-output {
	position: absolute;
	top: 50px;
	/* border: 1px solid red; */
	/* text-align: center; */
	font-size: 45px;
	color: white;
	/* width: 100%; */
	z-index: 1;
}

/************************************/
/* Recipient */
/************************************/

#recipient-output {
	position: absolute;
	top: 100px;
	/* border: 1px solid red; */
	/* text-align: center; */
	font-size: 45px;
	color: white;
	/* width: 100%; */
	z-index: 2;
}

.thumb {
	height: 80px; 
	width: auto;
}

.title-thumb {
	max-height: 80px; 
	max-width: 120px;
	margin-right: 5px;
}

.title-thumb-long {
	max-height: 200px; 
	max-width: 375px;
	margin-top: 10px;
}

.stickers_canvas {
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 0;
}






























