/*-------------------------------------------------------------------------------------------------
General
-------------------------------------------------------------------------------------------------*/
html {
	background: url(../images/cc-sides.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: darkgreen;
}


* {
	font-family:Helvetica;
	color:#eee;
}

h1 {	
	text-align:center;
	font-family: 'Berkshire Swash', cursive;
	font-size:40px;
	margin-top:25px;
	margin-bottom:25px;
	color:white;
}

h2 {
	font-size:15px;
	margin-top:20px;
	margin-bottom:5px;
}

small {
	font-family:Helvetica;
	font-size:x-small;
}

h2:first-child {
	margin-top:0px;
}

.clearfix {
	clear:both;
}

.circular {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	margin: 7px 7px 0 0;
}

input[type=text] {
	font-size:16px;
	color: black;
}


/*-------------------------------------------------------------------------------------------------
Buttons
-------------------------------------------------------------------------------------------------*/
input[type=button] {
	background: #E80804; /* Old browsers */
	background: -moz-linear-gradient(top, #ef1404 0%, #d11104 44%, #ad0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef1404), color-stop(44%,#d11104), color-stop(100%,#ad0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ef1404 0%,#d11104 44%,#ad0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ef1404 0%,#d11104 44%,#ad0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ef1404 0%,#d11104 44%,#ad0000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ef1404 0%,#d11104 44%,#ad0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef1404', endColorstr='#ad0000',GradientType=0 ); /* IE6-9 */
	border: 1px solid #ef1404;
	border-bottom: 1px solid #930C00;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 0 #ef1404;
	box-shadow: inset 0 1px 0 0 #ef1404;
	color: #fff;
	font: bold 11.5px/1 "Helvetica", sans-serif;
	padding: 6px 0 6px 0;
	position:relative;
	top:-1px;
	float: right;
	margin-left: 10px;
	text-shadow: 0 -1px 0 #4c9021;
	width: 80px;
}

input[type=button]:hover {
	background: #E80804; /* Old browsers */
	background: -moz-linear-gradient(top, #ef1404 0%, #d11104 44%, #ad0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef1404), color-stop(44%,#d11104), color-stop(100%,#ad0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ef1404 0%,#d11104 44%,#ad0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ef1404 0%,#d11104 44%,#ad0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ef1404 0%,#d11104 44%,#ad0000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ef1404 0%,#d11104 44%,#ad0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef1404', endColorstr='#ad0000',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 0 0 #ef1404;
    box-shadow: inset 0 1px 0 0 #ef1404;
    cursor: pointer; 
}

input[type=button]:active {
    border: 1px solid #E80804;
    border-bottom: 1px solid #ef1404;
    -webkit-box-shadow: inset 0 0 2px 2px #E80804, 0 1px 0 0 #E80804;
    box-shadow: inset 0 0 2px 2px #E80804, 0 1px 0 0 #E80804; 
}

#buttons {
	width:1000px;
	height:50px;
	float:left;
	clear: both;
	margin-top: 10px;
}


/*-------------------------------------------------------------------------------------------------
Layout
-------------------------------------------------------------------------------------------------*/
#wrapper {
	width:1000px;
	margin:0px auto;
}

/* Top section */
#preview {
	width:1000px;
	text-align:center;
	background-color:white;
}

/* Bottom left column */
#controls-1 {
	width:425px;
	height:540px;
	margin-right:20px;
	float:left;
}

/* Bottom middle column */
#controls-2 {
	width:275px;
	height:540px;
	margin-right:40px;
	float:left;
}

/* Bottom right column */
#controls-3 {
	width:235px;
	height:540px;
	float:left;
}


/* Footer */
footer {
	height:50px;
	width: 950px;
	border: 10px solid white;
	background: url(../images/footer-bg.png) center no-repeat;
	float: left;
	margin-bottom: 25px;
	padding: 15px;
	text-align: right;
}

/*-------------------------------------------------------------------------------------------------
Card
-------------------------------------------------------------------------------------------------*/
#card-background {
	border: 0px solid grey;
	background-color:#eee;
	background-repeat:no-repeat;
	width:1000px;
	height:600px;
	margin:0px auto;
	float:left;
}

#canvas {
	width:1000px;
	height:600px;
	position:relative;
	z-index:1; /* So we can place the stickers above */
	overflow:hidden;
}

#date-info{
	width:1000px;
	height:40px;
	float: left;
	clear: both;
	text-align: center;
	background-color: black;
	top: 560px;
	position: absolute;
	
}

.date-footer {
	font-size: 1.09em;
	font-family: 'Cherry Swash', sans-serif;
	margin-top: 8px;
}

/*-------------------------------------------------------------------------------------------------
Misc
-------------------------------------------------------------------------------------------------*/

.header-img-left {
	margin:0 22px -8px 0;
}

.header-img-right {
	margin:0 0 -8px 22px;
}

